.divInput{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
}
.label{
    display: flex;
    font-size: 1.5rem;
}
.input {
    border-radius: 0.6rem;
    border: none;
    outline: none;
    background-color: #d9d9d9;
    height: 5vh;
    width: 100%;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: 0.5rem;
}